.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
}

.main-title-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 954px;
    height: 367px;
    text-align: center;
}

.title{
    font-size: 100px;
    font-family: 'Lexend Zetta';
    font-weight: 600;
    margin: 0;
}

.description{
    font-family: 'Inter';
    text-align: center;
    font-size: 35px;
}

.main-btns{
    display: flex;
    
}